.mobile-tabs__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: #fff;
    z-index: 300000;
    display: flex;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
}

.mobile-tabs__menu__item {
    height: 80px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mobile-tabs__menu__item:hover {
    background-color: #eee;
}

.mobile-tabs__menu__item__icon {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    background: #e25d47;
    position: relative;
}

.mobile-tabs__menu__item__label {
    font-size: 12px;
    display: block;
    line-height: 1em;
    margin-top: 7px;
}

.mobile-tabs__menu__item__count {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    background: #963821;
    border: 2px solid #fff;
    border-radius: 12px;
    right: -6px;
    top: -6px;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1em;
}
